@charset "UTF-8";
body{
    margin: 0;
    font-family: "Noto Sans JP", sans-serif;
}
/*アスタリスク＝全部*/
*{
    box-sizing: border-box;
}
/*全体の余白 絶対必要！*/
.inner{
    max-width: 1090px;
    margin: auto;
    width: 100%;
}
/*header*/
.header{
    background-color: #eceff4;
    align-items: center;
}
.header-inner {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
}
/*logo*/
.logo{
    font-weight: 700;
    font-size: 30px;
    color: #4C566A;
    letter-spacing: 0.04em;
}
/*button*/
.login{
    color: white;
    background-color: #4C566A;
    border-radius: 8px;
    font-size: 16px;
    padding: 10px 23px;
    line-height: 1;
}
/*hero*/
.hero{
    background-color: #eceff4;
}
.hero-inner{
    display: flex;
    align-items: center;
    padding: 48px 0 10px 0;
    justify-content: space-between;
}
.hero-lead{
    color: #4C566A;
    font-size: 17px;
    line-height: 2.3;
    padding: 30px 0 40px 0;
    font-weight: bold;
}
.hero-title{
    font-size: 37px;
    font-weight: bold;
    line-height: 1.5;
    color: #4C566A;
}
/*hero　チェックマーク*/
/*文字の前につけるならbefore*/
.hero-icon{
    position: relative;
    padding-left: 6%;
}
.hero-icon::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0.5em; /* ここを微調整する */
    width: 12px;
    height: 8px;
    border-left: 3px solid #5e81ac;
    border-bottom: 3px solid #5e81ac;
    transform: rotate(-45deg);
}
/*wave　うねってるところ*/
.wave {
    line-height: 0;
    /* SVGと次セクションの隙間防止 */
    margin-bottom: -1px;
}
.wave svg {
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
}
/*benefits*/
.benefits-inner{
    display: flex;
    text-align: center;
    padding-bottom: 80px;
    justify-content: space-between;
    gap: 30px;
}
.benefits h1{
    font-size: 30px;
    font-weight: bold;
    color: #4C566A;
    text-align: center;
    padding: 75px;
}
.benefits h2{
    padding: 17px;
    font-size: 22px;
    font-weight: bold;
    color: #4C566A;
}
.benefits p{
    color: #4C566A;
    line-height: 27px;
}
.benefits-item img{
        background-color: #d8dee9;
        padding: 9px;
        border-radius: 50%;
}
/*doc*/
.doc-features{
    background-color: #2d3440;
}
.doc-features-title h1{
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 75px;
}
.doc-features-inner{
    display: flex;
    padding: 30px 0;
    justify-content: space-between;
}
.doc-features-text{
    max-width: 380px;
    width: 50%;
}
.doc-features-img{
    width: 60%;
}
.doc-features-img img{
    width: 100%;
    height: auto;
}
.doc-features-text h3{
    font-size: 22px;
    font-weight: bold;
    padding: 30px 0;
    color: white;
}
.doc-features-text p{
    color: white;
}
/*footer*/
.footer{
    padding-top: 40px;
    color: #4c566a;
    /*opacityを入れることで見えるカラーが変わる*/
    opacity: 0.8;
    font-size: 14px;
}
.footer-nav ul {
    display: flex;
}
.footer-nav li::after{
    content: "/";
    margin: 0 13px;
}
/*ast-chilは最後の/をなくす*/
.footer-nav li:last-child::after {
    content: "";
}
.footer-inner{
    display: flex;
    padding: 30px 0;
    justify-content: space-between;
}
/*smp*/
@media screen and (max-width: 767px) {
    /*横並びを縦にする*/
    .hero-inner,
    .benefits-inner,
    .doc-features-inner,
    .footer-inner {
        flex-direction: column;
    }
    /*大きさを整える*/
    .doc-features-text,
    .doc-features-img {
        width: 100%;
        max-width: none;
    }
    .hero-img {
        width: 70%;
    }
    .hero-img img {
        width: 100%;
        height: auto;
        max-width: 100%;
    }
    /*フォントを整える*/
    .hero-title{
        font-size: 30px;
    }
    h2 {
        font-size: 14px;
    }
    /*余白を整える*/
    .inner{
        max-width: 450px;
    }
    .hero-text {
        width: 100%;
        text-align: left;
        padding: 30px 16px;
    }
    .hero-lead{
        text-align: left;
    }
    .hero-icon {
        display: block;
        padding-left: 24px;
        line-height: 32px;
    }
    .hero-span{
        display: none;
    }
    .benefits-item {
        padding: 1%;
    }
    /*flexしてるやつの場所交換*/
    .hero-inner {
        flex-direction: column-reverse;
    }
    .doc-features-web {
        flex-direction: column-reverse;
    }
    /*footer整え*/
    .footer{
        text-align: center;
    }
    .footer-nav ul{
        display: block;
        text-align: center;
        padding: 20px 0;
    }
    .footer-nav li{
        padding: 8px;
    }
    .footer-nav li::after {
        content: none; /* ← 完全に消える */
    }

}